header {
  align-items: center;
  border: 1px solid black;
  background: white;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid 1px black;
}

.logo img {
  padding-left: 10px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav a {
  color: black;
}

nav {
  padding-right: 40px;
  border: solid 1px black;
}

nav span {
  padding: 0px 15px;
}

.main-container {
  border: solid 1px black;
  display: flex;
  height: 650px;
  justify-content: space-around;
  padding-top: 100px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
  border: solid 1px black;
}

.column.medium {
  width: 300px;
  border: solid 1px black;
}

.column.small {
  width: 240px;
  border: solid 1px black;
}

.main-story h1{
  border: solid 1px black;
}

.story-1, .story-2 {
  border: solid 2px black;
}

.photo-1, .photo-2 {
  border: solid 1px black;
}

h2.uppercase {
  text-transform: uppercase;
}

.news-bites {
  border: solid 1px black;
}
