header {
  align-items: center;
  border: 1px solid black;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid 1px black;
}

.logo img {
  padding-left: 10px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav a {
  color: black;
}

nav {
  padding-right: 40px;
  border: solid 1px black;
}

nav span {
  padding: 0px 15px;
}

.main-container {
  display: flex;
  border: solid 1px black;
  height: 500px;
  padding-top: 100px;
}

.column {
  display: flex;
}

.column.large {
  width: 630px;
  border: solid 1px black;
}

.column.medium {
  width: 300px;
  border: solid 1px black;
}

.column.small {
  width: 240px;
  border: solid 1px black;
}
