.header-container {
  align-items: center;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.logo-flex {
  color: MediumAquamarine;
  display: inline-flex;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  display: inline-block;
}

.space-around {
  justify-content: space-around;
}
